/* src/styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.component-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.component-info {
  flex: 1;
  padding: 10px;
}

.preview {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  height: 450px;
  overflow: auto;
}

.code-container {
  flex: 1;
  padding: 10px;
}

.tabs {
  margin-bottom: 10px;
}

.tab-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.tab-content-item {
  display: none;
}

.tab-content-item pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  white-space: pre-wrap;
  width: 100%;
  max-height: 550px;
  overflow-y: auto;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 1.5rem;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.drawer {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  transition: left 0.3s;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.drawer a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1rem;
}

.drawer a:hover {
  background-color: #575757;
}

.container.active {
  margin-left: 250px;
}

.drawer.active {
  left: 0;
}
